*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: Montserrat;

  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1;
  /* background-color: #fafafa; */
  background-color: #ffffff;
  color: #000;
  font-weight: 500;
}

:root {
  --primary-color: #ff7b47;
  --secondary-color-1: #006db2;
  /* --secondary-color-1: #0d5c63; */
  --secondary-color-2: #17213c;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #fff;
  --dark-background-color: #252b42;
  --light-background-color: #fff;
  --hover-color: #2a7cc7;
  --disabled-element-color: #8ec2f2;
  --muted-color: #bdbdbd;
  --success-color: #2dc071;
  --alert-color: #e77c40;
  --danger-color: #e74040;
}

.title {
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  /* overflow: clip; */
  display: flex;
  flex-direction: column;
}

/* ====PAGE========= */

.page {
  flex: 1 1 auto;
}

/* ADAPTIVE */

[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------HEADER--------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #ffffff;
  transition: opacity 0.3s;
}

.header.scroll::before {
  opacity: 0.98;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 104px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

@media (max-width: 479.98px) {
  .header__container {
    min-height: 85px;
  }
  .header__social-container{
    display: none !important;
   }
}
.header__logo {
  overflow: hidden;
  cursor: pointer;
  width: 150px;
  height: 80px;
}
@media (max-width: 479.98px) {
  .header__logo {
   }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 5px;
}
@media (max-width: 992px) {
  .menu__list {
    column-gap: 15px;
  }
  .info-header__phone {
    font-size: 12px;
  }
}
.menu__item {
  position: relative;
}
.menu__link {
  color: #000;
  /* text-transform: uppercase; */
  cursor: pointer;
  letter-spacing: 0.17px;
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
  color: var(--second-text-color);
}
/* .menu__link.current */

.menu__link.current {
  position: relative;
  color: var(--secondary-color-1);
}
.menu__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color-1);
}


.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  border-radius: 2px;
  transition: all 0.4s ease 0s;
  background-color: var(--secondary-color-1);
}

.menu__link:hover:after,
.menu__link:focus:after{
  width: 100%;
}
.menu__link:hover,
.menu__link:focus {
  color: var(--secondary-color-1);
}
.header__info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.header__info a {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 600;
}
.info-header {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
.info-header__phone {
}
.header-phone {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: #000;
  cursor: pointer;
}

.info-header__email {
  color: var(--second-text-color);
}

.header__button {
  width: 150px;
  height: 50px;
  border-radius: 59px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  cursor: pointer;
  background-color: var(--secondary-color-1);
  color: #ffffff;
  font-size: 15px;
  transition: transform 0.3s ease 0s;
}
.header__button:hover,
.header__button:focus {
  transform: scale(1.04);
  background-color: #0c95c7;
  transition-duration: all ;
  
}
.header__socials{
  margin-top: 0 !important;
}


/* MOBILE MENU */
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .header__info {
    display: none;
  }
  .header__button {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 65px 31px;
  background-color: var(--secondary-color-1);
  z-index: 999;
  overflow: scroll;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .menu-container {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color-1);
    transition: top 0.3s;
    z-index: 1000;
  }
  .menu-container.is-open {
    top: 90px;
  }
  .menu-toggle .js-close-menu{
    display: none;
  }
 
}


.menu-container .menu-toggle {
  position: absolute;
  top: 23px;
  right: 16px;
  color: #fff;
}



.mobile-menu {
  margin: 0;
  list-style: none;
  text-align: center;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: var(--light-text-color);
  text-decoration: none;
  font-family: Montserrat;
}

.mobile__contacts {
  padding-top: 40px;
  display: flex;  
  justify-content: center;
  text-align: center;
}
.contacts-mobile__address {
  color: #fff;
  font-size: 16px;
}
.contacts-mobile__list .contacts-mobile__item {
  padding: 10px;
}

.contacts-mobile__contacts {
  color: #fff;
  font-size: 16px;
  font-family: Montserrat;

}

.mobile-callback__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}
.callback__sub-title {
  color: #fff;
  font-size: 16px;
  font-family: Montserrat;
  text-align: center;
  padding: 15px 0 15px 0;
}
.callback__messengers {
  
 
}
.callback__items {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.callback__item:not(:last-child) {
  padding-right: 15px;

}
.callback__link {

}
/* PAGE_nav */

.page__nav {
 
  
}
.nav {
  padding-top: 130px;
  padding-bottom: 0px;
 
}
.nav__container {}
.nav__block {
  font-size: 16px;
  color: var(--text-color);
  margin-top: 30px;
  margin-bottom: 20px;
  
}

@media(max-width:768px){
  .nav__block{
    font-size: 14px;
  }
}
.nav__breadcrumb a{
  color: var(--text-color);
}
.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}

/* ABOUT  */

.page__about {
  padding-top: 140px;
  padding-bottom: 4%;
}

.about {
  background-color: #f6f7f9;
}

.about__container {
 
}

.info-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .info-title {
    font-size: 40px;
  }
}
@media (max-width: 479.98px) {
  .info-title {
    font-size: 37px;
  }
  .main-block_text {
    font-size: 15px;
  }
}

.info__img {
  display: block;
  max-width: 100%;
 
}

.info-text {
  font-size: 17px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.01em;
}
@media (max-width: 479.98px) {
  .info-text {
    font-size: 15px;
  }
}



/* CLIENTS */

/* ===========CLIENTS ==================*/

.clients {
  padding: 50px 0;
}

.clients_container {
  min-width: 0;
}
.clients-block__title {
  margin: 0px 0px 45px 0px;
}

.clients__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .clients__title {
    font-size: 25px;
  }
}

@media (max-width: 767.98px) {
  .clients__title {
    font-size: 20px;
  }
}

.clients__items {
  display: flex;
  align-items: center;
}
.clients__item {
  padding: 8px 15px;
  text-align: center;
  min-width: 150px;
}

.clients__item img {
  max-width: 100%;
}

.clients-image__slider .swiper-button-prev::after,
.clients-image__slider .swiper-button-next::after {
  font-size: 30px;
  color: var(--secondary-color-1);
}
@media (max-width: 767.98px) {
  .clients-image__slider .swiper-button-prev::after,
  .clients-image__slider .swiper-button-next::after {
    display: none;
  }
}

/* CALLBACK SECTION */

.page__callback{

}
.callback{
  padding-top: 115px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
  to right, rgba(31, 31, 33, 0.4),
  rgba(47, 48, 58, 0.4)), url(../img/about/callback.jpg);
  background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-color: #C4C4C4;
}

.callback__container{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;  
}
.callback__header{}
.callback__title{
  color: var(--light-text-color);
    font-size: 48px;
    line-height: 130%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
@media (max-width: 767.98px) {
  .callback__title {
    font-size: 40px;
  }
}
@media (max-width: 479.98px) {
  .callback__title {
    font-size: 37px;
  }
}
.callback__sub-title{
  font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    /* margin-bottom: 26px; */
    text-align: center;
    color: var(--light-text-color);
}

@media (max-width: 479.98px) {
  .callback__sub-title {
    font-size: 20px;
  }
}
.callback__messengers{
 
}
.callback__items{
  display: flex;
  justify-content: center;
  
  
}
.callback__item{
  width: 55px;
  height: 55px;
}


.callback__link{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.callback__item:not(:last-child){
  padding-right: 30px;
}

.callback__item:hover img {
  transform: scale(1.5);
}



.callback__item img {
  transition: transform 0.3s ease 0s;
}

/* FATURED  */

.page__featured {
}
.featured {
    padding-top: 30px;
    padding-bottom: 83px;
    background: #F1FFFF;
}

.featured__title {
    margin-bottom: 28px;
    color: #000;
    font-size: 31px;
    font-weight: 600;
}
@media(max-width: 767.98px){
  .featured__title {
      font-size: 24px; 
  }
}
.featured__body {
    padding: 40px 40px 80px 40px;
    
    padding: 40px;
    display: grid;
    column-gap: 77px;
    row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width: 991.98px){
    .featured__body {
        display: flex;
        flex-direction: column-reverse;
    }
    .featured {
        padding-top: 30px;
        padding-bottom: 43px;
    }
    .featured__title {
        margin-bottom: 50px;
        font-size: 30px;
    }
}

@media(max-width: 767.98px){
    .featured__title {
        margin-bottom: 30px;
    }
    .featured__body {
        margin: 0px -15px;
        padding: 20px 15px 20px 40px;
    }
    .featured {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.images-featured {
    display: grid;
    justify-items: center;
}

.images-featured__item img{
    max-width: 100%;
}

.content__featured__title {
    font-size: 31px;
    font-weight: 600;
}

@media(max-width: 767.98px){
    .content_-featured__title {
        font-size: 24px; 
    }
}
.content-featured__text {
    color: #545A58;
    font-size: 17px;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.01em;
}
.content-featured__options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
}
.options-content-featured {
  margin-top: 20px;

}
.options-content-featured__item {
}
.options-content-featured__item img{
    
}
.images-featured__item-mini{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -114px;
}

@media(max-width: 991px){
  .images-featured__item-mini{
    display: none;
  }}

.options-content-featured__label {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
   
}
.options-content-featured__value {
    color: #545A58;
    font-size: 17px;
    font-weight: 400;
}
.content-featured__link {
    display: block;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    padding: 16px 35px;
    border-radius: 5px;
    background: #F85A47;
    box-shadow: 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease 0s;
}

.content-featured__link:hover,
.content-featured__link:focus {
    background-color: #cc1602;
}

@media(min-width: 991px){
    .content-featured__body{
        flex: 1 1 auto;
        max-width: 412px;
    }
    .content-featured__text {
        max-width: 412px;
    }
}

@media(max-width: 479.98px){
    .content-featured__options{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
    }
    .featured__body {
        padding: 20px 15px 40px 20px;
    }
}

/* PAGE__HOW SECTION */

.how {
  padding-top: 70px;
  padding-bottom: 110px;
  background: #fafafa;
}

.how__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
  text-align: center;
}
@media(max-width: 991.98px){
  .how {
      padding-top: 30px;
      padding-bottom: 60px;
  }
  .how__title {
    font-size: 27px;
  }
}

.how__items {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, minmax(auto,260px));
  column-gap: 30px;
  row-gap: 40px;
  justify-content: space-between;

}
@media(min-width: 991px){
  .how__items {
      padding: 0px 35px;
  }
}

.how__item {
  max-width: 260px;
}
.item-how {
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
}

.item-how:not(:nth-child(3n))::after{
  content: '';
  position: absolute;
  right: 0;
  top: 41px;
  max-width: 210px;
  height: 11px;
  width: 100%;
  transform: translate(86.5%, 0px);
  background: url('../img/icon/pad1.svg') 0 0 / 100% no-repeat;
}

.item-how .item-how__icon{
  background: #006db2;
  color: var(--light-text-color);
  font-size: 40px;
}

.item-how__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.item-how__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;

}
@media(max-width: 991.98px){
  .item-how__title {
    font-size: 20px;
  }
  .item-how__text {
    font-size: 15px;
  }
}
.item-how__text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;

}
@media(max-width: 1199.98px){
  .item-how:not(:last-child)::after{
      width: 150px;
      transform: translate(69.5%, 0px);
  }
  .item-how_2:not(:last-child)::after{
      transform: translate(69.5%, 0px) rotate(-180deg);
  }
}
@media(max-width: 991.98px){
  .item-how:not(:last-child)::after{
      width: 100px;
      transform: translate(67%, 0px);
  }
  .item-how_2:not(:last-child)::after{
      transform: translate(67%, 0px) rotate(-180deg);
  }
}
@media(max-width: 767.98px){
  .how__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;     
  }
  .item-how:not(:last-child)::after{
     display: none;
  }
  .item-how__icon {
      margin-bottom: 20px;
  }
}

/* ======== FOOTER  ==== */

.footer {
  padding: 60px 0px 40px 0px;
  background-color: #2f303a;
}

.footer-container {
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer-left {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-left {
  text-align: center;
}

.footer__logo {
  width: 200px;
  height: 80px;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  color: #ffffff;
}

.footer-list {
  padding: 0;
  margin: 0;
}

.footer-list .item {
  margin-top: 9px;
}

.footer-list .item:first-child {
  margin-top: 0;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-addres {
  color: var(--button-color-white);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .footer-social {
    margin-bottom: 40px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}

@media (max-width: 1199.98px) {
  .footer-title {
    text-align: center;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-social-item:hover svg,
.footer-social-item:focus svg {
  transform: scale(1.5);
}

.footer-social-item svg {
  transition: transform 0.3s ease 0s;
}
