*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: Montserrat;

  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1;
  /* background-color: #fafafa; */
  background-color: #ffffff;
  color: #000;
  font-weight: 500;
}

:root {
  --primary-color: #ff7b47;
  --secondary-color-1: #006db2;
  /* --secondary-color-1: #0d5c63; */
  --secondary-color-2: #17213c;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #fff;
  --dark-background-color: #252b42;
  --light-background-color: #fff;
  --hover-color: #2a7cc7;
  --disabled-element-color: #8ec2f2;
  --muted-color: #bdbdbd;
  --success-color: #2dc071;
  --alert-color: #e77c40;
  --danger-color: #e74040;
}

.title {
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  /* overflow: clip; */
  display: flex;
  flex-direction: column;
}

/* ====PAGE========= */

.page {
  flex: 1 1 auto;
}

/* ADAPTIVE */

[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ._ibg {
    position: relative;
} */

/* ._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
} */

/* ------------HEADER--------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #ffffff;
  transition: opacity 0.3s;
}

.header.scroll::before {
  opacity: 0.98;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 104px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

@media (max-width: 479.98px) {
  .header__container {
    min-height: 85px;
  }
}

.header__logo {
  overflow: hidden;
  cursor: pointer;
}

.logo {
}

.header__menu {
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 5px;
}

@media (max-width: 992px) {
  .menu__list {
    column-gap: 15px;
  }

  .info-header__phone {
    font-size: 12px;
  }
}

.menu__item {
  position: relative;
}

.menu__link {
  color: #000;
  cursor: pointer;
  letter-spacing: 0.17px;
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
  color: var(--second-text-color);
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  transition: all 0.4s ease 0s;
  background-color: #3dc2f3;
}

.menu__link:hover:after {
  width: 100%;
}

.menu__link:hover {
  color: #3dc2f3;
}

.header__info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.header__info a {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 600;
}

.info-header {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.info-header__phone {
}

.header-phone {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: #000;
  cursor: pointer;
}

.info-header__email {
  color: var(--second-text-color);
}

.header__button {
  width: 200px;
  height: 60px;
  border-radius: 59px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  cursor: pointer;
  background-color: #3dc2f3;
  color: #ffffff;
  font-size: 17px;
}

.header__button:hover {
  background-color: #0c95c7;
}

/* MOBILE MENU */

@media (max-width: 979px) {
  .menu {
    display: none;
  }

  .header__info {
    display: none;
  }

  .header__button {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 979px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 31px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding-top: 70px;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* ABOUT  */

.page__about {
  padding-top: 140px;
  padding-bottom: 4%;
}

.about {
  background-color: #f6f7f9;
}

.about__container {
}

.info-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .info-title {
    font-size: 40px;
  }
}
@media (max-width: 479.98px) {
  .info-title {
    font-size: 37px;
  }
  .main-block_text {
    font-size: 15px;
  }
}

.about-block__info {
}

.info {
}

.info__img {
}

.info-text {
  font-size: 17px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.01em;
}
@media (max-width: 479.98px) {
  .info-text {
    font-size: 15px;
  }
}

/* CLIENTS */

/* ===========CLIENTS ==================*/
.page__clients {
}

.clients {
  padding: 50px 0;
}

.clients_container {
  min-width: 0;
}
.clients-block__title {
  margin: 0px 0px 45px 0px;
}

.clients__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .clients__title {
    font-size: 25px;
  }
}

@media (max-width: 767.98px) {
  .clients__title {
    font-size: 20px;
  }
}

.clients__items {
  display: flex;
  align-items: center;
}
.clients__item {
  padding: 8px 15px;
  text-align: center;
  min-width: 150px;
}

.clients__item img {
  max-width: 100%;
}

.clients-image__slider .swiper-button-prev::after,
.clients-image__slider .swiper-button-next::after {
  font-size: 30px;
  color: var(--secondary-color-1);
}
@media (max-width: 767.98px) {
  .clients-image__slider .swiper-button-prev::after,
  .clients-image__slider .swiper-button-next::after {
    display: none;
  }
}

/* CALLBACK SECTION */

.page__callback{

}
.callback{
  padding-top: 115px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
  to right, rgba(31, 31, 33, 0.4),
  rgba(47, 48, 58, 0.4)), url(../img/main/main2.jpg);
  background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-color: #C4C4C4;
}

.callback-block_image{

  }

.callback__container{
 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.callback__header{}
.callback__title{
  color: var(--light-text-color);
    font-size: 48px;
    line-height: 130%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.callback__sub-title{

  font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    margin-bottom: 26px;
    text-align: center;
    /* margin-left: 22.5%; */
    color: var(--light-text-color);
    /* text-align: start; */
}
.callback__messengers{
 
}
.callback__items{
  display: flex;
  justify-content: center;
  
  
}
.callback__item{
  width: 55px;
  height: 55px;
}


.callback__link{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.callback__item:not(:last-child){
  padding-right: 30px;
}

.callback__item img{

}

.callback__item:hover img {
  transform: scale(1.5);
}

.callback__item img {
  transition: transform 0.3s ease 0s;
}


/* ======== FOOTER  ==== */

.footer {
  padding: 60px 0px 40px 0px;
  background-color: #2f303a;
}

.footer-container {
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer-left {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-left {
  text-align: center;
}

.footer__logo {
  width: 200px;
  height: 80px;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  color: #ffffff;
}

.footer-list {
  padding: 0;
  margin: 0;
}

.footer-list .item {
  margin-top: 9px;
}

.footer-list .item:first-child {
  margin-top: 0;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-addres {
  color: var(--button-color-white);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .footer-social {
    margin-bottom: 40px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}

@media (max-width: 1199.98px) {
  .footer-title {
    text-align: center;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-social-item:hover svg {
  transform: scale(1.5);
}

.footer-social-item svg {
  transition: transform 0.3s ease 0s;
}
